@using ShatterpointReferences.Model;
@using ShatterpointReferences.Units.Abilities;

@model ActiveUnitPartialModel

@section Scripts {

}

@section Css {

}

<div class="dynamic-card">
    <div class="dynamic-card-title">
        <img alt="@Url.Content(@Model.ActiveUnit.Name)" src="@Url.Content(String.Format("~/img/pp/{0}", @Model.ActiveUnit.ProfilePicture))" />
        <div>@Model.ActiveUnit.Name</div>
    </div>

    <div class="dynamic-card-content">
        <table>
            @foreach (var ability in @Model.CurrentActivationSynergies)
            {
                @if (ability is not null)
                {
                    <tr>
                        <td><img alt="@Url.Content(@ability.Name)" src="@Url.Content(String.Format("~/img/pp/{0}", ability.WeilderProfilePicture))" /></td>
                        <td>
                            <div class="ability-content">
                                <div class="ability-title">
                                    <h4>@ability.Name</h4>
                                    <div>Cost: @ability.Cost F</div>
                                </div>
                                <p>@Html.Raw(@ability.Text)</p>
                            </div>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
