@using ShatterpointReferences.Model;
@using ShatterpointReferences.Units.Abilities;

@model ActiveUnitPartialModel

@section Scripts {

}

@section Css {

    .

}

<div class="dynamic-card">
    <div class ="dynamic-card-title">
        <table >
            <tr>
                <td><img alt="@Url.Content(@Model.ActiveUnit.Name)" src="@Url.Content(String.Format("~/img/pp/{0}", @Model.ActiveUnit.ProfilePicture))" /></td>
                <td><h4>@Model.ActiveUnit.Name</h4></td>
            </tr>
        </table>
    </div>

    <div class="dynamic-card-content">
        <table>
            @foreach (var ability in @Model.CurrentActivationSynergies)
            {
                @if (ability is not null)
                {
                    <tr>
                        <td><img alt="@Url.Content(@ability.Name)" src="@Url.Content(String.Format("~/img/pp/{0}", ability.WeilderProfilePicture))" /></td>
                        <td>
                            <h4>@ability.Name</h4>
                            <p>@Html.Raw(@ability.Text)</p>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
