@using ShatterpointReferences.Model;
@using ShatterpointReferences.Units.Abilities;

@model ActiveUnitPartialModel

@section Scripts {

}

<div>
    <h1>Current Activation Synergies</h1>
    <h2>Active Unit: @Model.ActiveUnit.Name</h2>
    <table>
        <tr>
            <th>Source</th>
            <th>Abilities</th>
            <th>Description</th>
        </tr>
        @if (@Model.CurrentActivationSynergies.Any(x => x.Timing == Timing.Start))
        {
            <tr>
                <th>Start Turn</th>
                <td></td>
                <td></td>
            </tr>
        }
        @foreach (var ability in @Model.CurrentActivationSynergies.Where(x => x.Timing == Timing.Start))
        {
            @if (ability is not null)
            {
                <tr>
                    <td><div>@ability.Weilder</div></td>
                    <td><div>@ability.Name</div></td>
                    <td><div>@ability.Text</div></td>
                </tr>
            }
        }
        @if (@Model.CurrentActivationSynergies.Any(x => x.Timing == Timing.Active || x.Timing == Timing.AnotherActive))
        {
            <tr>
                <th>During Turn</th>
                <td></td>
                <td></td>
            </tr>
        }
        @foreach (var ability in @Model.CurrentActivationSynergies.Where(x => x.Timing == Timing.Active || x.Timing == Timing.AnotherActive))
        {
            @if (ability is not null)
            {
                <tr>
                    <td><div>@ability.Weilder</div></td>
                    <td><div>@ability.Name</div></td>
                    <td><div>@ability.Text</div></td>
                </tr>
            }
        }
        @if (@Model.CurrentActivationSynergies.Any(x => x.Timing == Timing.End))
        {
            <tr>
                <th>End of the turn</th>
                <td></td>
                <td></td>
            </tr>
        }
        @foreach (var ability in @Model.CurrentActivationSynergies.Where(x => x.Timing == Timing.End))
        {
            @if (ability is not null)
            {
                <tr>
                    <td><div>@ability.Weilder</div></td>
                    <td><div>@ability.Name</div></td>
                    <td><div>@ability.Text</div></td>
                </tr>
            }
        }
    </table>
</div>
