@using Shatterpoint.Lib.Services;

@page "/"
@inject UnitDataBaseService UnitDataBaseService
@inject SelectedUnitsService SelectedUnitsService

<div class="unit-selection-panel">
    <h1>Units available</h1>
    <p>Chose up to 6 Units</p>
    <table>
        @foreach (var unit in @UnitDataBaseService.UnitList)
        {
            <tr>
                <td>
                    <a @onclick="() => AddUnit(unit.Name)" class="@GetClass(unit.Name)">
                        <div class="pp image-container">
                            <img class="image" atl="@unit.ProfilePicture" src="@String.Format("/img/pp/{0}", @unit.ProfilePicture)" />
                            <div class="overlay"></div>
                        </div>
                        <div class="unitname">@unit.Name</div>
                    </a>
                </td>
            </tr>
        }
    </table>
</div>

<div class=" footer">
    <div><a style="display:block" href="#" @onclick="ClearSelectedUnits">Clear selection</a></div>
    <div class="selected-pp">
        @for (int i = 0; i < 6; i++)
        {
            @if (@SelectedUnitsService.SelectedUnits.Count > i)
            {
                <a>
                    <div class="image-container">
                        <img alt="@SelectedUnitsService.SelectedUnits[i].Name" src="@String.Format("/img/pp/{0}", @SelectedUnitsService.SelectedUnits[i].ProfilePicture)" />
                        <div class="overlay"></div>
                    </div>
                </a>
            }
            else
            {
                <a>
                    <div class="image-container">
                        <div class="overlay dashed"></div>
                    </div>
                </a>
            }
        }
    </div>
</div>

@code {
    public void ClearSelectedUnits()
    {
        SelectedUnitsService.ClearSelectedUnits();
    }

    public string GetClass(string name)
    {
        var selectedUnits = SelectedUnitsService.SelectedUnits;

        if (selectedUnits.Any(x => x.Name == name))
            return "row-selected";
        else
            return "row-not-selected";
    }

    public void AddUnit(string unitName)
    {
        var selectedUnits = SelectedUnitsService.SelectedUnits;

        // Case: Already exists
        var alreadyExists = selectedUnits.Any(x => x.Name == unitName);
        if (alreadyExists)
            return;

        // Case: this name unit does not exist
        var unit = UnitDataBaseService.UnitList.FirstOrDefault(x => x.Name == unitName);
        if (unit is null)
            return;

        // Case: array full
        var notFull = selectedUnits.Count() < 6;
        if (!notFull)
            return;

        //Save to the first empty location
        SelectedUnitsService.AddUnit(unit);
    }

}
