@using Shatterpoint.Lib.Services;

@page "/"
@inject UnitDataBaseService UnitDataBaseService
@inject SelectedUnitsService SelectedUnitsService

<div class="unit-selection-table">
    <h1>Units available</h1>
    <p>Chose up to 6 Units</p>

    <table>
        <tr>
            <td>Name</td>
            <td>Action</td>
        </tr>
        @foreach (var unit in @UnitDataBaseService.UnitList)
        {
            <tr>
                <td>
                    <img atl="@unit.ProfilePicture" src="@String.Format("/img/pp/{0}", @unit.ProfilePicture)" />
                    @unit.Name
                </td>
                <td><a href="#" @onclick="() => AddUnit(unit.Name)">Add</a></td>
            </tr>
        }
    </table>
</div>

<div class="selected-pp">
    <h1>Selected Units</h1>
    <a style="display:block" href="#" @onclick="ClearSelectedUnits">Clear selection</a>

    <div>
        @foreach (var unit in @SelectedUnitsService.SelectedUnits.Take(3))
        {
            <img alt="@unit.Name" src="@String.Format("/img/pp/{0}", unit.ProfilePicture)" />
        }
    </div>
    <div>
        @foreach (var unit in @SelectedUnitsService.SelectedUnits.Skip(3))
        {
            <img alt="@unit.Name" src="@String.Format("/img/pp/{0}", unit.ProfilePicture)" />
        }
    </div>

</div>

@code {
    public int countOfSelection { get; set; } = 0;

    public void ClearSelectedUnits()
    {
        countOfSelection = 0;
        SelectedUnitsService.ClearSelectedUnits();
    }

    public void AddUnit(string unitName)
    {
        var selectedUnits = SelectedUnitsService.SelectedUnits;

        // Case: Already exists
        var alreadyExists = selectedUnits.Any(x => x.Name == unitName);
        if (alreadyExists)
            return;

        // Case: this name unit does not exist
        var unit = UnitDataBaseService.UnitList.FirstOrDefault(x => x.Name == unitName);
        if (unit is null)
            return;

        // Case: array full
        var notFull = selectedUnits.Count() < 6;
        if (!notFull)
            return;

        //Save to the first empty location
        countOfSelection++;
        SelectedUnitsService.AddUnit(unit);
    }

}
