@using Shatterpoint.Lib.Services;
@using Shatterpoint.Lib.Units
@using Shatterpoint.Lib.Units.Abilities
@using Shatterpoint.Lib.Model;
@using Shatterpoint.Lib.Extensions;
@using Shatterpoint.Maui.Components.Reusable;

@page "/play"
@inject SelectedUnitsService SelectedUnitsService
@inject UnitDataBaseService UnitDataBaseService



@* Panel scrollable *@
<div class="scrollable">

    @if (@SelectedUnitsService.ActiveUnit is not null)
    {
        /* Card: Unit active */
        <AbilityCard Unit="@SelectedUnitsService.ActiveUnit.ActiveUnit" Abilities="@SelectedUnitsService.ActiveUnit.CurrentActivationSynergies" IsActive="@true" />

        /* Card: Unit is targeted*/
        @if (@SelectedUnitsService.ActiveUnit.GettingTargetedSynegies.Any())
        {
            <AbilityCard Unit="@SelectedUnitsService.ActiveUnit.ActiveUnit" Abilities="@SelectedUnitsService.ActiveUnit.GettingTargetedSynegies" IsActive="@false" />
        }
    }
    @* Card: Unit active *@
    @if (@SelectedUnitsService.PayAttentionAbilities is not null && @SelectedUnitsService.PayAttentionAbilities.Any())
    {
        <AbilityCard Unit="null" Abilities="@SelectedUnitsService.PayAttentionAbilities" />
    }

</div>

@* Fixed unit selection*@
<div class="selected-pp footer">

    @if (!@SelectedUnitsService.SelectedUnits.Any())
    {
        <p>There is no selected unit. Visit /build/index to select your 6 units</p>
    }
    else
    {
        @foreach (var unit in @SelectedUnitsService.SelectedUnits)
        {
            <a @onclick="() => SelectUnit(unit)">
                <ProfilePicture Scale="0.4" Top="@unit.Top" Left="@unit.Left" Src="@unit.StanceCardUrl1" Alt="@unit.Name"/>
            </a>
        }
        <a @onclick="() => PayAttention()">
            <img style="width:40px; height:auto; border-radius:50%; outline: 2px solid black;" alt="Op turn" src="img/card/exclamation.jpg" />
        </a>
    }
</div>


@code {

    public void SelectUnit(Unit unit)
    {
        // Disable "pay attention" abilities
        SelectedUnitsService.PayAttentionAbilities = null;

        var activeAbilities = SelectedUnitsService.GetAbilitiesForTheActiveUnit(unit);
        var targetedAbilities = SelectedUnitsService.GetAbilitiesForTheTargetedUnit(unit);

        SelectedUnitsService.ActiveUnit = new ActiveUnitModel();
        SelectedUnitsService.ActiveUnit.ActiveUnit = unit;
        SelectedUnitsService.ActiveUnit.CurrentActivationSynergies = activeAbilities;
        SelectedUnitsService.ActiveUnit.GettingTargetedSynegies = targetedAbilities;

    }

    public void PayAttention()
    {
        // Disable active unit:
        SelectedUnitsService.ActiveUnit = null;

        var abilities = SelectedUnitsService.PayAttention();
        SelectedUnitsService.PayAttentionAbilities = abilities;
    }
}
