@using ShatterpointReferences.Model
@using ShatterpointReferences.Units;

@model List<Unit>

@section Scripts {

    <script>

        function ActivateUnit(unitName) {
            $.ajax({
                url: "@Url.Action("ActivateUnit", "Build")" + "?unitname=" + unitName,
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    $('#activeUnitId').html(result);
                    $('#targetedUnitId').empty();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    Alert("error");
                }
            });
        }

        function TargetUnit(unitName) {
            $.ajax({
                url: "@Url.Action("TargetUnit", "Build")" + "?unitname=" + unitName,
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    $('#targetedUnitId').html(result);
                    $('#activeUnitId').empty();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    Alert("error");
                }
            });
        }

    </script>
}

<div>
    @* Clickable miniatures *@
    @foreach (var unit in @Model)
    {
        @if (unit is not null)
        {
            <a href="#" onclick="ActivateUnit('@unit.Name');return false;">
                <img alt="@Url.Content(@unit.Name)" src="@Url.Content(String.Format("~/img/pp/{0}", unit.ProfilePicture))" />
            </a>
        }
    }
</div>

<div id="activeUnitId">
</div>

<div id="targetedUnitId">
</div>