@using Shatterpoint.Lib.Extensions
@using Shatterpoint.Lib.Units
@using Shatterpoint.Lib.Units.Abilities
@using Shatterpoint.Lib.Data;


<div class="dynamic-card">
    <div style="@GetBackgroundImage()" class="dynamic-card-title">
        <table>
            <tr>
                <td>
                    @if (@Unit is not null)
                    {
                        <ProfilePicture Scale="0.5" Top="@Unit.Top" Left="@Unit.Left" Src="@Unit.StanceCardUrl1" Alt="@Unit.Name"/>
                    }
                    else if (IsActive is null)
                    {
                        <img class="sabre-active-logo" src="/img/card/exclamation.jpg" />
                    }
                </td>
                <td>
                    @if (@Unit?.Name is not null)
                    {
                        <div>@Unit?.Name</div>
                    }
                    @* Case: Pay attention *@
                    else if (IsActive is null)
                    {
                        <div>Pay attention</div>
                    }
                </td>
                <td>
                    @if (IsActive is true)
                    {
                        <img class="sabre-active-logo" src="/img/card/sabres-active.jpeg" />
                    }
                    @if (IsActive is false)
                    {
                        <img class="sabre-active-logo" src="/img/card/cible.png" />
                    }
                </td>
            </tr>
        </table>
    </div>
    <div class="dynamic-card-content">
        <table>
            @foreach (var ability in @Abilities)
            {
                @if (ability is not null)
                {
                    <tr>
                        <td>
                            @if (ability.Weilder.Name != @Unit?.Name)
                            {
                                <div class="specific-ability-weilder">
                                    <ProfilePicture Scale="0.3" Top="@ability.Weilder.Top" Left="@ability.Weilder.Left" Src="@ability.Weilder.StanceCardUrl1" Alt="@ability.Weilder.Name" />
                                </div>
                            }
                            <img class="ability-type" alt="@ability.Type.ToString()" src="@GetAbilityCard(ability)" />
                        </td>
                        <td>
                            <div class="ability-content">
                                <div class="ability-title">
                                    <h4>@((MarkupString)@ability.Name)</h4>
                                    @for (int i = 0; i < ability.Cost; i++)
                                    {
                                        <div>
                                            <img class="force-logo" alt="Cost" src="@IconReferences.forceicon" />
                                        </div>
                                    }
                                </div>
                                <p>
                                    @((MarkupString)@ability.Text.ToRawHtmlDescription())
                                </p>
                            </div>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>

@code {

    [Parameter]
    public bool? IsActive { get; set; }

    [Parameter]
    public Unit Unit { get; set; }

    [Parameter]
    public List<Ability> Abilities { get; set; }

    public string GetBackgroundImage()
    {
        if (Unit is null)
            return "background-image: url(../img/card/title-back-blue.png);";

        switch (Unit.CardColor)
        {
            case UnitCardColor.Red:
                return "background-image: url(../img/card/title-back-red.png);";
            case UnitCardColor.Blue:
                return "background-image: url(../img/card/title-back-blue.png);";
            default:
                return "background-image: url(../img/card/title-back-blue.png);";
        }
    }

    public string GetAbilityCard(Ability ability)
    {
        switch (ability.Weilder.CardColor)
        {
            case UnitCardColor.Red:
                return @String.Format("/img/abilities/{0}.png", ability.Type);
            case UnitCardColor.Blue:
                return @String.Format("/img/abilities/{0}-blue.png", ability.Type);
            default:
                return @String.Format("/img/abilities/{0}.png", ability.Type);
        }
    }
}
