@using Shatterpoint.Lib.Extensions
@using Shatterpoint.Lib.Services
@using Shatterpoint.Lib.Units
@using Shatterpoint.Lib.Units.Abilities
@using Shatterpoint.Lib.Data;
@using System.Text

@inject SelectedUnitsService SelectedUnitService;

<div class="dynamic-card fade-in">
    <div style="@GetBackgroundImage()" class="dynamic-card-title flex-row">
        @if (@Unit is not null)
        {
            <div class="flex-1 flex-column">
                <ProfilePicture Scale="0.5" Top="@Unit.Top" Left="@Unit.Left" Src="@Unit.StanceCardUrl1" Alt="@Unit.Name" />
            </div>
        }
        else if (IsActive is null)
        {
            <div class="flex-1 flex-column">
                <img class="sabre-active-logo flex-1" src="/img/card/exclamation.jpg" />
            </div>
        }

        @if (@Unit?.Name is not null)
        {
            <div class="flex-5">
                <div class="card-title ">@Unit?.Name</div>
            </div>
        }
        @* Case: Pay attention *@
        else if (IsActive is null)
        {
            <div class="card-title flex-5">Pay attention</div>
        }

        @if (IsActive is true)
        {
            <div class="flex-1 flex-column">
                <img class="sabre-active-logo" src="/img/card/sabres-active.jpeg" />
            </div>
        }
        @if (IsActive is false)
        {
            <div class="flex-1 flex-column">
                <img class="sabre-active-logo" src="/img/card/cible.png" />
            </div>
        }
    </div>
    <div class="dynamic-card-content">
        <table>
            @foreach (var ability in @Abilities)
            {
                @if (ability is not null)
                {
                    <tr>
                        <td>
                            <img class="ability-type" alt="@ability.Type.ToString()" src="@GetAbilityCard(ability)" />
                            @if (ability.Weilder.Name != @Unit?.Name)
                            {
                                <div class="specific-ability-weilder">
                                    <ProfilePicture Scale="0.3" Top="@ability.Weilder.Top" Left="@ability.Weilder.Left" Src="@ability.Weilder.StanceCardUrl1" Alt="@ability.Weilder.Name" />
                                </div>
                            }
                        </td>
                        <td>
                            <div class="ability-content tooltip-container">
                                <div class="ability-title">
                                    <h4>@((MarkupString)@ability.Name)</h4>
                                    @for (int i = 0; i < ability.Cost; i++)
                                    {
                                        <div>
                                            <img class="force-logo" alt="Cost" src="@IconReferences.forceicon" />
                                        </div>
                                    }
                                </div>
                                <p>
                                    @((MarkupString)@ability.Text.ToRawHtmlDescription())
                                </p>
                                @if (ability.Synergies is not null)
                                {
                                    <div class="tooltip-content">
                                        <div class="tooltip-text">@PrintKeywords(GetKeyWords(ability.Synergies)):</div>
                                        <div class="flex-row">
                                            @foreach (var unit in GetCompatible(ability))
                                            {
                                                <div>
                                                    <ProfilePicture Scale="0.4" Src="@unit.StanceCardUrl1" Left="@unit.Left" Top="@unit.Top" Alt="@unit.Name"></ProfilePicture>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>

@code {

    [Parameter]
    public bool? IsActive { get; set; }

    [Parameter]
    public Unit Unit { get; set; }

    [Parameter]
    public List<Ability> Abilities { get; set; }

    public string GetBackgroundImage()
    {
        if (Unit is null)
            return "background-image: url(../img/card/title-back-blue.png);";

        switch (Unit.CardColor)
        {
            case UnitCardColor.Red:
                return "background-image: url(../img/card/title-back-red.png);";
            case UnitCardColor.Blue:
                return "background-image: url(../img/card/title-back-blue.png);";
            case UnitCardColor.Dark:
                return "background-image: url(../img/card/title-back-dark.png);";
            default:
                return "background-image: url(../img/card/title-back-blue.png);";
        }
    }

    public string GetAbilityCard(Ability ability)
    {
        switch (ability.Weilder.CardColor)
        {
            case UnitCardColor.Red:
                return @String.Format("/img/abilities/{0}.png", ability.Type);
            case UnitCardColor.Blue:
                return @String.Format("/img/abilities/{0}-blue.png", ability.Type);
            case UnitCardColor.Dark:
                return @String.Format("/img/abilities/{0}-dark.png", ability.Type);
            default:
                return @String.Format("/img/abilities/{0}.png", ability.Type);
        }
    }

    public List<Unit> GetCompatible(Ability ability)
    {
        var result = new List<Unit>();
        foreach (var unit in SelectedUnitService.UnitSelectionArray.Where(x => x is not null))
        {
            if (SelectedUnitService.IsAbilityCompatible(ability, unit))
            {
                result.Add(unit);
            }
        }
        return result;
    }

    public List<string> GetKeyWords(List<Synergy> synergies)
    {
        var result = new List<string>();

        foreach (var synergy in synergies)
        {
            if (synergy.KeyWords is not null)
            {
                foreach (var keyword in synergy.KeyWords)
                {
                    if (!result.Contains(keyword))
                    {
                        result.Add(keyword);
                    }
                }
            }
        }
        return result;
    }

    public string PrintKeywords(List<string> keywords)
    {
        var sb = new StringBuilder();

        foreach (var keyword in keywords)
        {
            sb.Append($"{keyword} | ");
        }
        if (sb.Length > 3)
            sb.Remove(sb.Length - 3, 3);

        return sb.ToString();
    }
}

