@using Shatterpoint.Lib.Model
@using Shatterpoint.Lib.Units
@using Shatterpoint.Maui.Components.Reusable

<div class="selected-unit-panel fade-in">
    <div class="flex flex-auto squad-one">
        @for (int i = 0; i < 3; i++)
        {
            int buffer = i;
            var unit = ArrayUnit[buffer];
            <div class="flex-auto" @key="unit">

                @if (unit is not null)
                {
                    <ProfilePicture Scale="0.45" Top="@unit.Top" Left="@unit.Left" Src="@unit.StanceCardUrl1" Alt="@unit.Name" />
                }
                else
                {
                    <ProfilePictureEmpty Scale="0.45" />
                }
            </div>
        }
    </div>
    <div class="flex flex-auto squad-two">
        @for (int i = 3; i < 6; i++)
        {
            int buffer = i;
            var unit = ArrayUnit[buffer];
            <div class="flex-auto" @key="unit">

                @if (unit is not null)
                {
                    <ProfilePicture Scale="0.45" Top="@unit.Top" Left="@unit.Left" Src="@unit.StanceCardUrl1" Alt="@unit.Name" />
                }
                else
                {
                    <ProfilePictureEmpty Scale="0.45" />
                }
            </div>
        }
    </div>
</div>

@code {

    [Parameter]
    public Unit[] ArrayUnit { get; set; }
}
